tender-udate.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "in:inbox is:unread newer_than:3d subject:(tender OR rfq OR estimate OR bid)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        -48
      ],
      "id": "19e2413b-73f1-421e-a0b0-06efbc105b43",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "lGrZ1u7MUIbyDqOe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aCRehmnyvJalNC5vsgeTVvjcPbET4qwJ0ilwHSf4mKk",
          "mode": "list",
          "cachedResultName": "Tenders Update",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aCRehmnyvJalNC5vsgeTVvjcPbET4qwJ0ilwHSf4mKk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aCRehmnyvJalNC5vsgeTVvjcPbET4qwJ0ilwHSf4mKk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        672,
        -48
      ],
      "id": "de098f8e-134d-444f-b6aa-6dd331758e52",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uPQdCOucDwJs8WSk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input from 'Code in JavaScript1' node\nconst projectName = $node[\"Code in JavaScript1\"]?.json?.project_name;\nconst submissionDate = $node[\"Code in JavaScript1\"]?.json?.submission_date;\n\nif (!projectName || !submissionDate) {\n  throw new Error(\"Missing project_name or submission_date from Code in JavaScript1 node\");\n}\n\n// All rows in sheet (from 'Get row(s) in sheet' node)\nconst sheetRows = items;\n\nif (!sheetRows.length) {\n  // No rows, start at default Q number\n  return [{\n    json: {\n      \"Q Number\": \"Q-5001\",\n      \"Project\": projectName,\n      \"Submission Date\": submissionDate,\n      \"Status\": \"Received\",\n      \"Days Left\": \"\"\n    }\n  }];\n}\n\n// Check if project already exists\nconst projectExists = sheetRows.some(row => row.json.Project === projectName);\n\nif (projectExists) {\n  // Project already added, skip append\n  return [];\n}\n\n// Find max Q Number from all rows\nlet maxNumber = 5000;\nfor (const row of sheetRows) {\n  const qNum = row.json[\"Q Number\"];\n  if (!qNum) continue;\n  \n  const numPart = parseInt(qNum.replace(\"Q-\", \"\"), 10);\n  if (!isNaN(numPart) && numPart > maxNumber) {\n    maxNumber = numPart;\n  }\n}\n\nconst nextQNumber = maxNumber + 1;\n\nreturn [{\n  json: {\n    \"Q Number\": `Q-${nextQNumber}`,\n    \"Project\": projectName,\n    \"Submission Date\": submissionDate,\n    \"Status\": \"Received\",\n    \"Days Left\": \"\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -48
      ],
      "id": "70145b45-ac74-48e9-a76e-8ba7e79fb90f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Extract the following information from the email text.\n\nReturn a valid JSON object with these fields:\n- project_name (string)\n- submission_date (YYYY-MM-DD string)\n\nEmail Content:\n{{ $json[\"body\"] || $json[\"text\"] || $json[\"snippet\"] }}\n\nReturn only the JSON object.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        48,
        -48
      ],
      "id": "9607926a-8e68-4207-a19e-d14d7cc1c5db",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "XEZugtGfQK7zjSuj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1aCRehmnyvJalNC5vsgeTVvjcPbET4qwJ0ilwHSf4mKk",
          "mode": "list",
          "cachedResultName": "Tenders Update",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aCRehmnyvJalNC5vsgeTVvjcPbET4qwJ0ilwHSf4mKk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aCRehmnyvJalNC5vsgeTVvjcPbET4qwJ0ilwHSf4mKk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Q Number": "={{ $json['Q Number'] }}",
            "Status": "Received",
            "Submission Date": "={{ $node[\"Code in JavaScript1\"].json.submission_date }}",
            "Project": "={{ $node[\"Code in JavaScript1\"].json.project_name }}",
            "Notification Sent": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Q Number",
              "displayName": "Q Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Project",
              "displayName": "Project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submission Date",
              "displayName": "Submission Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Days Left",
              "displayName": "Days Left",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notification Sent",
              "displayName": "Notification Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        -48
      ],
      "id": "ead5d17b-5443-402d-bce3-df2e40caca26",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uPQdCOucDwJs8WSk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of items) {\n  let rawText = item.json.content?.parts?.[0]?.text;\n\n  if (!rawText) {\n    // No text found, skip this item\n    continue;\n  }\n\n  // Clean markdown triple backticks and json label\n  rawText = rawText.replace(/```json\\s*/, '').replace(/```$/, '').trim();\n\n  // Replace escaped characters\n  rawText = rawText.replace(/\\\\n/g, '\\n').replace(/\\\\\"/g, '\"').replace(/\\\\t/g, '\\t').trim();\n\n  try {\n    const parsed = JSON.parse(rawText);\n    results.push({ json: parsed });\n  } catch (error) {\n    throw new Error('Failed to parse cleaned JSON:\\n' + rawText + '\\nError: ' + error.message);\n  }\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -48
      ],
      "id": "24c29b2c-e0b5-4c1e-9f15-889c5e8bbea7",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1aCRehmnyvJalNC5vsgeTVvjcPbET4qwJ0ilwHSf4mKk",
          "mode": "list",
          "cachedResultName": "Tenders Update",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aCRehmnyvJalNC5vsgeTVvjcPbET4qwJ0ilwHSf4mKk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aCRehmnyvJalNC5vsgeTVvjcPbET4qwJ0ilwHSf4mKk/edit#gid=0"
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Status"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        -240
      ],
      "id": "4fc23fa5-c16e-4b5e-b231-e2aaf875e58f",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "nWMuPR6SbPNIZOR1",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "sadam.astral@gmail.com",
          "mode": "list",
          "cachedResultName": "sadam.astral@gmail.com"
        },
        "end": "={{ $node[\"Code in JavaScript1\"].json.submission_date }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        880,
        144
      ],
      "id": "7bc5eb3c-9875-4614-acac-350665dd8c58",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5Onx4XGxkzznWl8x",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aCRehmnyvJalNC5vsgeTVvjcPbET4qwJ0ilwHSf4mKk",
          "mode": "list",
          "cachedResultName": "Tenders Update",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aCRehmnyvJalNC5vsgeTVvjcPbET4qwJ0ilwHSf4mKk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aCRehmnyvJalNC5vsgeTVvjcPbET4qwJ0ilwHSf4mKk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Notification Sent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        96,
        -240
      ],
      "id": "2bfd89b7-2ad3-46ea-a5be-be29ebc70708",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uPQdCOucDwJs8WSk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "sadamhashmiqurashi@gmail.com",
        "subject": "Kindly check the tender",
        "message": "Sir Tender is ready to Review.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        -256
      ],
      "id": "e5d31e6b-a54c-41a2-af3b-4fa4cfce69a9",
      "name": "Send a message",
      "webhookId": "e5e621c0-65cb-43e3-93f6-271aad18761e",
      "credentials": {
        "gmailOAuth2": {
          "id": "lGrZ1u7MUIbyDqOe",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "sadam.astral@gmail.com",
          "mode": "list",
          "cachedResultName": "sadam.astral@gmail.com"
        },
        "timeMin": "== {{ $node[\"Code in JavaScript1\"].json.submission_date }}\n",
        "timeMax": "== {{ $node[\"Code in JavaScript1\"].json.submission_date }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        672,
        144
      ],
      "id": "4f01f526-e837-4074-b68d-c93b698ff5e4",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5Onx4XGxkzznWl8x",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aa06ec41-f1b6-4cd0-8b1f-9a82e4a90f60",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Complete",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "17668cdd-5655-4722-8967-a933531410cd",
              "leftValue": "={{ $json['Notification Sent'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        -240
      ],
      "id": "1743e75a-bd11-45b0-8dec-245a185661ab",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1aCRehmnyvJalNC5vsgeTVvjcPbET4qwJ0ilwHSf4mKk",
          "mode": "list",
          "cachedResultName": "Tenders Update",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aCRehmnyvJalNC5vsgeTVvjcPbET4qwJ0ilwHSf4mKk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aCRehmnyvJalNC5vsgeTVvjcPbET4qwJ0ilwHSf4mKk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Notification Sent": "Yes",
            "row_number": "={{ $('If1').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Q Number",
              "displayName": "Q Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Project",
              "displayName": "Project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submission Date",
              "displayName": "Submission Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Days Left",
              "displayName": "Days Left",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notification Sent",
              "displayName": "Notification Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        -256
      ],
      "id": "835fdb89-32db-4cf1-9c2c-c5f6758d8929",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uPQdCOucDwJs8WSk",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cac23d6a4e943d8d7ba5966f7dcd701ebbfcb49708b4c5dab589094dc98faffd"
  }
}